<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A4BC38B61EAAA7C400AE68B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4BC38D21EAAA7C500AE68B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4BC38DD1EAAA7C500AE68B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
